.task__mark {
    cursor: pointer;
    padding-right: 10px;
}

.task__delete {
    cursor: pointer;
    padding-right: 20px;
}

.task__completed .task__text {
    text-decoration: line-through;
    color: green;
}