.task {
    margin: 10px 0;
}

.task__mark {
    cursor: pointer;
    margin-right: 10px;
}

.task__delete {
    cursor: pointer;
    margin-right: 10px;
}

.task__edit {
    cursor: pointer;
    margin-right: 20px;
}

.task__completed .task__text {
    text-decoration: line-through;
    color: #419300;
}