.task {
    margin: 10px 0;
}

.task__mark {
    cursor: pointer;
}

.task__delete {
    cursor: pointer;
}

.task__edit {
    cursor: pointer;
}

.task__info {

}

.task__title {
    font-size: 1.5em;
}

.task__completed .task__info {
    text-decoration: line-through;
    color: #419300;
}